

    
    
    <div class="my-5 py-3 text-dark">
        <div class="row">
     <!-- Booking Card -->
        <div class="col-lg-6 d-flex align-items-center my-bg p-0 justify-content-center">
              <img src="./images/photo-1554469384-e58fac16e23a.jpeg" class="img-fluid" width="100%" alt="">
           </div>

             <div class="col-lg-6 response p-0 text-center">
            <div class="card p-0 border-0 bg">
                <div class="card-body pb-3 p-0 bg-light">
                    <div class="card-title text-dark rounded fs-1 mb-3 text-light">
                        Book a meeting today
                   </div>
                   <form id="booking" class="d-flex gap-3 flex-column justify-content-around align-items-center flex-wrap">
                    <div class="mb-3 d-flex flex-column w-75">
                        <label class="text-dark text-start mb-2" for="name">Name</label> 
                        <input type="text" name="name" class="border-0 text-dark form-control-sm" id="name">
                    </div>
    
                   <div class="mb-3 d-flex flex-column w-75">
                     <label class="text-dark text-start mb-2" for="number">Contact Number</label>
                     <input type="text" class="form-control-sm border-0 text-dark" name="number" id="number">
                   </div>
                   <div class="mb-3 d-flex flex-column w-75">
                     <label class="text-dark text-start mb-2" for="time">Time</label>
                     <input type="time" class="form-control-sm text-dark border-0" name="time" id="time">
                   </div>
                   <div class="mb-3 d-flex flex-column w-75">
                     <label class="text-dark text-start mb-2" for="date">Date</label>
                     <input type="date" class="form-control-sm border-0 text-dark" name="date" id="date">
                   </div>
                   <div class="mb-3 d-flex flex-column w-75">
                     <label class="text-dark fs-3 text-start mb-2" for="requirment">Requirment</label>
                     <textarea name="requirment" id="requirment" cols="80" class="w-100 border-0 text-dark mt-2 px-3 py-3" placeholder="Enter Your Requirment" rows="5"></textarea>
                     <button type="submit" id="my-btn" class="btn mt-3 btn-lg fs-6 text-light fw-bold d-block w-50 mx-auto">Book Meeting</button>
                    </div>
                   </form>
                </div>
            </div>
    
            </div>
        </div>
    </div>