
    
    
    <!-- Footer -->
    <footer class="py-4">
        <div class="container">
            <div class="row">
                <!-- Company Logo -->
                <div class="col-lg-3 first">
                 <h4>Khyber Estate</h4>
                 <small>The Real Estate company for your dream homes</small>
                </div>
                <!-- Navigation -->
                <div class="col-lg-3">
                    <ul class="location p-0">
                         <li class="fs-4 fw-bold mb-2">Contact us</li>
                        <li class="fw-lighter mb-2">DHA Phase 5 Extension Saba Commercial Street.31</li>
                        <li class="fw-lighter mb-2">Call on +923242224476</li>
                        <li class="fw-lighter mb-2">Email us on najamaf89@gmail.xom</li>
                        
                    </ul>
                </div>
                <!-- Social -->
                <div class="col-lg-6 newsletter">
                  <form>
                     <label class="h4" for="email">Newsletter Sign up</label>
                     <div class="mt-3">
                         <input type="text" class="form-control-sm w-75"  id="email" placeholder="Enter Your Email">
                          <button type="submit" class="btn btn-outline-light ms-3">Sign up</button>
                     </div>
                     <p class="mt-2">You will recieve emails on new properties in our inventory</p>
                  </form>
            </div>
        </div>
    </footer>