
    <!-- Banner & Navigation -->
    <header class="px-sm-3">
        <div class="container">
                    <nav class="navbar navbar-expand-lg navbar-light m-0 py-4">
                        <div class="container-fluid">
                            <a class="navbar-brand text-white" href="#">Navbar</a>
                            <button class="navbar-toggler bg-light   " type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                <a class="nav-link active text-white" aria-current="page" href="/index">Home</a>
                                </li>
                                <li class="nav-item">
                                <a class="nav-link text-white" href="/listing">Listing</a>
                                </li>

                            </ul>
                            </div>
                        </div>
                 </nav>
            <div class="flex-wrapper">
           <div class="container">
                <div class="introduction">
                    <div class="content">
                        <div class="DD">
                            <h1> <span>Unlock</span> Real Estate Success</h1>
                            <hr>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Culpa accusantium unde fugiat
                                sunt dolor provident non, perferendis consectetur tenetur nostrum.</p>
                            <button id='explore'>
                                <a class='text-decoration-none text-white' href='/listing'>Explore Now</a>
                            </button>
                        </div>
                    </div>
                </div>
           </div>

            </div>
        </div>
    </header>