
    <!-- Banner & Navigation -->
    <header class="px-sm-3">
        <div class="container">
            <div class="wrapper">

                <div class="mobile-only d-sm-flex justify-content-between align-items-center">
                    <a href="#" class="logo">LOGO</a>
                    <img src="./icons/hamburger.png" width="50px" class="img-fluid d-lg-none d-md-none d-sm-block" alt="">
                </div>

                <nav>
                    <ul>
                        <li><a  class="link-active fs-6 text-white" href="">Home</a></li>
                        <li><a href="" class="fs-6 text-white">About</a></li>
                        <li><a href="/listing/" class="fs-6 text-white"> Properties</a></li>
                        <li><a href="" class="fs-6 text-white">Contact</a></li>
                    </ul>
                </nav>

            </div>

            <div class="flex-wrapper">

                <div class="introduction">
                    <div class="content">

                        <div class="DD">
                            <h1> <span>Unlock</span> Real Estate Success</h1>
                            <hr>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Culpa accusantium unde fugiat
                                sunt dolor provident non, perferendis consectetur tenetur nostrum.</p>
                            <button>Explore Now</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>