<div class="new-item px-sm-0 px-3 px-lg-5 pb-5">
  <div class='container'>
    <h2 class="pt-5">Featured Listings</h2>
     <div class="row">
        <div class="col-lg-12 info d-flex flex-wrap align-items-center pb-5 gap-5">
                    {%  for item in collections.listing  %}  
                    <div class="w-100 d-flex align-items-center flex-wrap">
                     <div class="swiper mx-0 pb-5">
                    <!-- Additional required wrapper -->
                    <div class="swiper-wrapper">
                        <!-- Slides -->
                        {% for image in item.data.images %}
                            <div class="swiper-slide">
                              <img src={{ image.image }} class="img-fluid w-100"/>
                            </div>
                         {% endfor %}
                    </div>                      
                    <!-- If we need pagination -->
                    <div class="swiper-pagination"></div>

                    <!-- If we need scrollbar -->
                    <div class="swiper-scrollbar"></div>
                    </div>
                       <div data-index = {{ loop.index0 }} class="align-self-start swiper-content py-2 bg-light mt-lg-5 px-3">
                        <h1 data-type={{ item.data.title }} class='text-success'>{{ item.data.title }}</h1>
                        <h3 data-price={{item.data.price }}>{{ item.data.price }}</h3>
                        <h4 data-location={{ item.data.location }}>{{ item.data.location }}</h4>
                        <div class="d-flex gap-3 align-items-center">
                        <h2> <img src="../icons/bath-tub.png" width="25px"/> {{ item.data.baths }}</h2>
                        <h2> <img src="../icons/bed.png" width="25px"/> {{ item.data.bedrooms }}</h2>
                        <h2 data-area={{ item.data.area }}><img src="../icons/area.png" width="25px"/> {{ item.data.area }}</h2>
                        </div>   
                        <p>{{ item.data.description }}</p>
                       <button id={{ item.data.price }} data-id={{ item.data.price }} type='button' class='sendMessage px-2 py-1 mb-2 border-0'>
                          I'm Interested
                       </button>
                         <div class="align-self-start border rounded px-2 py-2">
                         <p class='fw-light m-0 text-primary'>Share on Social Media</p>
                         <div class='d-flex align-items-center gap-4 mt-2'>
                          <i class='fa fa-whatsapp'></i>
                          <i class='fa fa-facebook'></i>
                         </div>
                        </div>
                        </div>
                    </div>           
                  </div>
                        {% endfor %}         
        </div>
    </div>
  </div>
</div>