<div class="new-item px-5 pb-5">
    <h2 class="py-3">Featured Listings</h2>
     <div class="row">
        <div class="col-lg-12 info d-flex flex-wrap align-items-center gap-5">
                    {%  for item in collections.listing  %}  
                    <div class="w-100 d-flex align-items-center flex-wrap">
                     <div class="swiper mx-0 py-5">
                    <!-- Additional required wrapper -->
                    <div class="swiper-wrapper">
                        <!-- Slides -->
                         {% for image in item.data.images %}
                        <div class="swiper-slide">
                          <img src={{ image.image }} class="img-fluid w-100"/>
                        </div>

                         {% endfor %}
                    
                    </div>                      
                    <!-- If we need pagination -->
                    <div class="swiper-pagination"></div>

                    <!-- If we need navigation buttons -->
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>

                    <!-- If we need scrollbar -->
                    <div class="swiper-scrollbar"></div>
                    </div>
                       <div class="align-self-start swiper-content py-2 bg-light mt-lg-5 px-3">
                        <h1 data-type={{ collections.listing[loop.index0].data.title }} class='text-success'>{{ item.data.title }}</h1>
                        <h3 data-price={{collections.listing[loop.index0].data.price }}>{{ item.data.price }}</h3>
                        <h4 data-location={{ collections.listing[loop.index0].data.location }}>{{ item.data.location }}</h4>
                        <div class="d-flex gap-3 align-items-center">
                        <h2> <img src="../icons/bath-tub.png" width="25px"/> {{ item.data.baths }}</h2>
                        <h2> <img src="../icons/bed.png" width="25px"/> {{ item.data.bedrooms }}</h2>
                        <h2 data-area={{ collections.listing[loop.index0].data.area }}><img src="../icons/area.png" width="25px"/> {{ item.data.area }}</h2>
                        </div>   
                        <p>{{ item.data.description }}</p>
                       <button id='sendMessage' type='button' class='px-2 py-1 mb-2 border-0'>
                          I'm Interested
                       </button>
                         <div class="align-self-start border rounded px-2 py-2">
                         <p class='fw-light m-0 text-primary'>Share on Social Media</p>
                         <div class='d-flex align-items-center gap-4 mt-2'>
                          <i class='fa fa-whatsapp'></i>
                          <i class='fa fa-facebook'></i>
                         </div>
                        </div>
                        </div>
                    </div>           
                  </div>
                   
                        {% endfor %}         
        </div>
    </div>
</div>