<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../icons/logo-estate-removebg-preview.png">

    <title>{{  title }}</title>
     <link rel="stylesheet" href="/index.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"
/>
<script src="https://use.fontawesome.com/016436a714.js"></script>
</head>
<body>
      {% include 'nav.njk' %}
      {% include 'listingBanner.njk' %}
      {{ content | safe }} 
    {% include 'listings.njk' %}
    {% include 'footer.njk' %}
<script>
const sendMessage = document.querySelectorAll('.sendMessage');
const image = document.querySelectorAll('.swiper-slide');

  image.forEach(function(item) {
  item.addEventListener('mouseover', function(e) {
      item.style.cursor = 'grab';
  });
});


sendMessage.forEach(function(btn) {
btn.addEventListener('click', function() {
      let propertyLocation = btn.previousElementSibling.previousElementSibling.previousElementSibling.innerHTML;
      let area = btn.previousElementSibling.previousElementSibling.lastElementChild.textContent;
      let price = btn.previousElementSibling.previousElementSibling.previousElementSibling.previousElementSibling.innerHTML;
      let type = btn.previousElementSibling.previousElementSibling.previousElementSibling.previousElementSibling.previousElementSibling.innerHTML;

      const num = "923000538700";
      const message=`I'm interested in buying ${area} Sq.Yd house, of ${price} ${type} in ${propertyLocation}`;
      const url = `https://api.whatsapp.com/send?phone=${num}&text=${encodeURIComponent(message)}`;
      window.open(url);
});
})

  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", function(user){
      if (!user) {
        window.netlifyIdentity.on("login", function(){
          document.location.href = "/admin/";
        });
      }
    });
  }
// Swiper
const swiper = new Swiper('.swiper', {
  // Optional parameters
  direction: 'horizontal',
  loop: true,

  // If we need pagination
  pagination: {
    el: '.swiper-pagination',
  },
});
</script>

</body>
</html>