 
 <div class='listing-banner'>
 <div class='container-fluid'>
   
    <nav aria-label="breadcrumb p-0">
    <div class='container-fluid px-5'>
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/index" class="text-light">Home</a></li>
    <li class="breadcrumb-item active text-light" aria-current="page">listing</li>
  </ol>
    </div>
</nav>
 </div>
 </div>
