@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary: #6b0000;
    --secondary: #0B486B;
}

body {
    min-height: 100vh;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;    
}

.container {
    padding: 0.5em 4em;
}

.data {
    display: flex;
    margin-top: 10em;
}
nav {
    flex: 1 1 90%;
    padding: 2em 0;
    z-index: 100;
    margin-right: 5em;
}

header {
    background: url(./images/pexels-pixabay-358636.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom 50%;
    height: 100vh;
}




nav ul {
    display: flex;
    /* align-items: center; */
    justify-content: flex-end;
    gap: 4em;
    margin-left: auto;
    width: 53%;
    
}


.logo a{
    color: var(--primary);
}
nav ul li a {
    text-decoration: none;
    font-size: 18px;
    color: var(--secondary);
    padding: 0.5em 0em;
}

nav ol li {
    list-style-type: none;
}

nav ul li {
    list-style: none;
}


.mobile-only{
    flex: 1 1 10%;
}

.mobile-only a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 32px;
}

.flex-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.points {   
height: 100vh;
}



.introduction {
    flex: 1 1 40%;
    z-index: 10;
height: 80vh;
}

.content {
     display: flex;
     align-items: center;
    text-align: left;
    height: inherit;
}

.content img {
    width: 40%;
}

.introduction button {
    background-color: #0B486B;
    padding: 01em 2em;
    border: 0;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 1em;
    color: white;
    font-weight: bold;
}
.data {
    color: #fff;

}

.DD {
  margin-top: 2em;
  text-align: left;
  width: 100%;
  min-width: 100%;
  transform: translateY(100px);
 transition: 1s ease;
}

.slide-up {
    transform: translateY(0px);
    opacity: 1;
}

.DD h1 span {
    color: #6b0000;
    font-style: italic;
}

.DD button {
    margin-top: 2em;
}

.DD p {
    font-size: 16px;
    margin-top: 1em;
}

.bobo img {
    height: 50vh;
    width: 100%;
    margin-top: 16em;
}

.introduction {
    flex: 1 1 50%;
    color: #fff;
    align-self: center;
    margin-top: -5em;
    text-align: center;
}

.introduction h1 {
    font-size: 65px;
}
/* @media (min-width: 375px) and (max-width: 768px) {
  
} */

@media (min-width:1020px) {
    .flex-wrapper {
        width: 60%;
    }
}
.DD p {
    line-height: px;
}
.flex-wrapper .bobo {
    flex: 1 1 25%;
}


.link-active {
    border-bottom: 2px solid var(--primary);
    
}
.physical {
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    border-radius: 5px;
    width: max-content;
    padding: 0.5em 1em;
    text-align: center;
    margin-left: 40px;
}

.focal-point {
    flex: 1 1 60%;
    /* margin-bottom: -3em; */
    /* margin-top: 6em; */
    display: flex;
}

.focal-point img {
    width: 50%;
    border-radius: 2%;
    height: 87vh;
    margin-top: -6em;
 margin-left: auto;

}



.focal-point .data {
    position: absolute;
    top: 8%;
    display: flex;
    flex-wrap: wrap;
}

article {
    gap: 4em;
    display: flex;
    flex-wrap: wrap;
    height: max-content;
}

article div {
    flex: 1;
}


/* .bg {
    background: url(./Experrt.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    height: max-content;
} */


#my-btn {
    background-color: #0B486B;
}


.bg {
    background: linear-gradient(to right, #0B486B 50%, #fff 50%);
    color: white;
 padding: 2em;
}

.bg  hr{
   width: 150px;
   height: 200px;
}
.fst-img {
 
    width: 200px;
    height: 300px;
}

.card-body input{
    background-color: #cde5fd;
}


.card-body textarea {
    background-color: #cde5fd;

}


ol li a{
    text-decoration: none;
}


footer  {
    background-color: #0B486B;
    color: #fff;
}

footer ul li a {
    text-decoration: none;
    color: #fff;
}

footer li {
    list-style: none;
}

.location {
    font-size: 12px;
}

.newsletter p{
    font-size: 12px;
    font-weight: bold;
}

.about-us .left-col {
  background: url(./images/pexels-pixabay-273244.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
    padding: 0.5em;
    
    height: 70vh;
    width: 100%;
   
}
hr {
    width: 100px;    
}

.about-us {
    padding: 4em 0;
}


.left-col img:nth-child(1) {
margin-left: 12em;
margin-top: 24em;
}
.col-bg {
    padding-top: 8em;
    padding-bottom: 4em;
}

.we-worked {
    padding-top: 3em;
    padding-bottom: 3em;
}


.new-item .card {
    width: 400px;
    height: auto;
}


.new-item button {
    background-color: #0B486B;
    color: white;
    border-radius: 5px;
}

.swiper-slide img {
display: block;
margin: 0 auto;
aspect-ratio: 4/3;
}


.listing-banner {
    background: url(./images/cover-image-55.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

@media (min-width:320px) and (max-width: 675px) {
    .swiper {
        width: 100%;
    }
    header {
        background: url(./images/pexels-pixabay-358636.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center 100%;
        height: 100vh;
    }

    .listing-banner {
        background-position: 10% center;
    }
    .DD h1 {
        font-size: 34px;
    }
    .introduction button {
        padding: 0.5em 2em;
    }
    .introduction {
        margin-top: -8em;
    }
        header {
        background-position: center;
    }
    .introduction h1 {
        font-size: 42px;
    }
    nav {
        display: none;
    }
    .mobile-only {
        display: flex;
        justify-content: space-between;
    }
    .mobile-only img {
        width: 30px;
    }
}

@media (min-width:968px) {
    .swiper {
        width: 50%;
    }

}

.custom-nav {
    background-color: #0B486B;
}

